
body {
    background-color: #5c9ca4 !important;
    font-family: "Enriqueta" !important;
}

.navbar {
    background-color: #20444c !important;
    font-family: "Enriqueta" !important;
}

.navbar-brand {
    color: #f1cd80 !important;
    font-size: large !important;
    margin-left: 20px !important;
}
.nav-link {
    color: #f1cd80 !important;

}

footer {
    color: #f1cd80;
    background-color: #2E5F69 !important;
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.linkfooter {
    color:#f1cd80 !important;
}