body {
    background-color: #5c9ca4 !important;
    font-family: "Enriqueta" !important;
}

.navbar {
    background-color: #20444c !important;
    font-family: "Enriqueta" !important;
    font-size: 20px;
    gap: 20px;
}

.navbar-brand {
    color: #f1cd80 !important;
    font-size: large !important;
    margin-left: 20px !important;
    font-size: 30px !important;
}
.nav-link {
    color: #f1cd80 !important;

}

h1 {
    color: #f1cd80 !important;
    text-align: center;
    margin-top: 2% !important;
    font-weight: bold !important;
}

h2{
    color: #f1cd80 !important;
    text-align: center;
    margin-top: 2% !important;
    font-weight: bold !important;
}

h3 {
    color: #f1cd80 !important;
    text-align: center;
    margin-top: 2% !important;
    font-weight: bold !important;
}


.column-presentation {
    gap: 10%;
    margin-top: 5% !important;
    margin-left: 15% !important;
    
}

.presentation {
    border-radius: 15px !important;
    border-width: 20px !important;
    border-color: #f1cd80 !important;
    border: 5px solid #f1cd80!important;
    padding: 15px !important;
    width: 40% !important;
    text-align: center !important;
    box-shadow: 0px 10px 13px -7px #000000;
}

.profile-picture {

    width: 15%;
    border-radius: 15px;
}

.card-text-presentation {
    font-size: 25px;
}

.aboutme{
    border-radius: 15px !important;
    border-width: 20px !important;
    border-color: #f1cd80 !important;
    border: 5px solid #f1cd80!important;
    padding: 15px !important;
    width: 40% !important;
    text-align: center !important;
    align-self: center !important;
    box-shadow: 0px 10px 13px -7px #000000;
    
}
.column-aboutme {
    margin-top: 2% !important;
    margin-left: 30% !important;
    font-size: 20px;
    width: 100%;
}

.aboutme2 {
    width: 80%;
    margin-top: 5%;
    margin-left: 7%;
}

.accordion-body{
    background-color: #91c8d0;
}

.accordion-button {
    background-color: #20444c !important;
    font-size: large !important;
    color: #f1cd80 !important;
    font-weight: bold !important;
}

.btn-primary {
    background-color: #f1cd80 !important;
    color: #000000 !important;
    align-self: center !important;
}

.project1 {
    background-color: #91c8d0;
}