body {
    background-color: #5c9ca4 !important;
    font-family: "Enriqueta" !important;
}

.navbar {
    background-color: #20444c !important;
    font-family: "Enriqueta" !important;
    font-size: 20px;
    gap: 20px;
}

.navbar-brand {
    color: #f1cd80 !important;
    font-size: large !important;
    margin-left: 20px !important;
    font-size: 30px !important;
}
.nav-link {
    color: #f1cd80 !important;

}

h1 {
    color: #f1cd80 !important;
    text-align: center;
    margin-top: 2% !important;
    font-weight: bold !important;
}

.presentation {
    border-radius: 15px !important;
    border-width: 20px !important;
    border-color: #f1cd80 !important;
    border: 5px solid #f1cd80!important;
    padding: 15px !important;
}

.profile-picture {

    width: 15%;
    border-radius: 15px;
}
